@{
    Layout = null;
}

@model DaxiTaxi.ViewModel.NewDriverViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet@2.3.0/dist/esri-leaflet.js"
            integrity="sha512-1tScwpjXwwnm6tTva0l0/ZgM3rYNbdyMj5q6RSQMbNX6EUMhYDE3pMRGZaT41zHEvLoWEK7qFEJmZDOoDMU7/Q=="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css">
    <script src="https://unpkg.com/esri-leaflet-geocoder"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/addDrivers.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="icon" href="data:;base64,iVBORwOKGO=" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>Add Driver</title>
    <style>
        #map {
            position: absolute;
            top: 0%;
            bottom: 0%;
            left: 0%;
            right: 0%;
        }
    </style>
</head>
<body>

    <div id="myModal" class="modal">
        <div class="modal-dialog" style="width:1000px !important;margin-top: 10px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body" style="height: 500px;">
                    <div id="map"></div>
                    <div class="modal-body" id="map-canvas"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true" id="choose">Choose Location</button>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-form">
        <table class="table table-borderless" id="purchasedTicketsTable" style="color: white;">
            <tr>
                <th style="border:0;padding-left:30px;">USERNAME</th>
                <td style="border:0;">@Html.EditorFor(model => model.Driver.Username, new { htmlAttributes = new { id = "username", @class = "form-control", style = "border:0;outline:0;border-bottom:1px solid #990000;margin-bottom:10xp;height:20px;color:white;width:300px;margin-left:30px;" } })</td>
            </tr>
            <tr>
                <th style="border:0;padding-left:30px;">NAME</th>
                <td style="border:0;"> @Html.EditorFor(model => model.Driver.Name, new { htmlAttributes = new { id = "name", @class = "form-control", style = "border:0;outline:0;border-bottom:1px solid #990000;margin-bottom:10xp;height:20px;border-top-style:none;color:white;width:300px;margin-left:30px;" } })</td>
            </tr>
            <tr>
                <th style="border:0;padding-left:30px;">SURNAME</th>
                <td style="border:0;"> @Html.EditorFor(model => model.Driver.Surname, new { htmlAttributes = new { id = "surname", @class = "form-control", style = "border:0;outline:0;border-bottom:1px solid #990000;margin-bottom:10xp;height:20px;color:white;width:300px;margin-left:30px;" } })</td>
            </tr>
            <tr>
                <th style="border:0;padding-left:30px;">JMBG</th>
                <td style="border:0;">@Html.EditorFor(model => model.Driver.JMBG, new { htmlAttributes = new { id = "JMBG", @class = "form-control", style = "border:0;outline:0;border-bottom:1px solid #990000;margin-bottom:10xp;height:20px;color:white;width:300px;margin-left:30px;" } })</td>
            </tr>
            <tr>
                <th style="border:0;padding-left:30px;">EMAIL</th>
                <td style="border:0;"> @Html.EditorFor(model => model.Driver.Email, new { htmlAttributes = new { id = "email", @class = "form-control", style = "border:0;outline:0;border-bottom:1px solid #990000;margin-bottom:10xp;height:20px;background-color:transparent;color:red;color:white;width:300px;margin-left:30px;" } })</td>
            </tr>
            <tr>
                <th style="border:0;padding-left:30px;">PHONE</th>
                <td style="border:0;"> @Html.EditorFor(model => model.Driver.PhoneNumber, new { htmlAttributes = new { id = "phoneNum", @class = "form-control", style = "border:0;outline:0;border-bottom:1px solid #990000;margin-bottom:10xp;height:20px;color:white;width:300px;margin-left:30px;" } })</td>
            </tr>
            <tr>
                <th style="border:0;padding-left:30px;">PASSWORD</th>
                <td style="border:0;"><input type="password" id="password", style="margin-left:30px;"/></td>
            </tr>
            <tr>
                <th style="border:0;padding-left:30px;">GENDER</th>
                <td style="border:0;"> @Html.EnumDropDownListFor(model => model.Driver.Gender, new { id = "enumId", style = "background-color:transparent;color:black;margin-left:30px;" })</td>
            </tr>

            <tr>
                <th style="border:0;padding-left:30px;">VEHICLE</th>
                <td style="border:0;"> @Html.DropDownListFor(m => m.Driver.Vehicle.Id, new SelectList(Model.Vehicle, "Id", "TaxiNumber"), "Select Vehicle", new { id = "vehicle", @class = "form-control", style = "width:300px;margin-left:30px;" })</td>
            </tr>

            <tr>
                <th style="border:0;padding-left:30px;">LOCATION</th>
                <td style="border:0;"> @Html.EditorFor(model => model.Driver.Location.Address.City, new { htmlAttributes = new { id = "destination", @class = "form-control", style = "border:0;outline:0;border-bottom:1px solid #990000;margin-bottom:10xp;width:300px;height:35px;color:#990000;margin-left:30px;" } })</td>
            </tr>

            <tr>
                <th style="border:0;"></th>
                <td style="border:0;"> <a href="#myModal" role="button" class="btn btn-primary" id="openMap" data-toggle="modal" style="width:100px;border-radius:20px;color:#990000;background-color:transparent;border:none;margin-top:0px;margin-left:30px;">Open Map</a></td>
            </tr>


            <tr>
                <th style="border:0;"></th>
                <td style="border:0;"> <input type="submit" id="btnAdd" value="AddDriver" class="btn btn-default" style="width:200px;border-radius:20px;color:white;background-color:#990000;border:none;margin-right:40px;" /></td>
            </tr>
        </table>

    </div>


    <script>

        var lat;
        var lon;
        var street;
        var streetNum;
        var callNum;
        var city;

        $(document).ready(function () {

            $('#myModal').on('show.bs.modal', function () {

                setTimeout(function () {
                    map.invalidateSize();
                }, 10);

                var map = L.map('map').setView([45.267, 19.833], 12)

                L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=Ke6IXcQlrAX601uWVfEg', {
                    attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>'
                }).addTo(map);


                var search = L.esri.Geocoding.geosearch().addTo(map);

                var results = L.layerGroup().addTo(map);


                search.on('results', function (data) {
                    results.clearLayers();


                    for (var i = data.results.length - 1; i >= 0; i--) {
                        //Extracting values from location object
                        lat = data.results[i].latlng.lat
                        lon = data.results[i].latlng.lng
                        var text = data.results[i].text.split(",")
                        var cstreet = text[0]
                        streetNum = cstreet.replace(/[^0-9]/g, '');
                        street = cstreet.replace(streetNum, '')
                        city = text[2]
                        callNum = text[1]

                        results.addLayer(L.marker(data.results[i].latlng))
                        break;

                    }
                })
            })

             $("#choose").on("click", function () {
                $("#destination").val(street + " " + streetNum + " " + callNum + " " + city)
             })

            $("#btnAdd").on("click", function () {


                var username = $("#username").val();
                var password = $("#password").val();
                var JMBG = $("#JMBG").val();
                var phoneNum = $("#phoneNum").val();
                var name = $("#name").val();
                var surname = $("#surname").val();
                var email = $("#email").val();
                var gender = $("#enumId").val();
                var vehicle = $("#vehicle").val();

                var data =
                {

                    "Username": username,
                    "Password": password,
                    "JMBG": JMBG,
                    "PhoneNumber": phoneNum,
                    "Name": name,
                    "Surname": surname,
                    "Email": email,
                    "Gender": gender,
                    "Role": 2,
                    "Location": {  "XCoordinate": lat, "YCoordinate": lon, "Address":
                                    {
                                        "Street": street, "StreetNumber": streetNum,
                                        "City": city, "CallNumber": callNum
                                    }
                                },
                    "Vehicle": { "Id": vehicle }
                }

                console.log(data)
                $.ajax({
                    type: "POST",
                    url: "https://localhost:44345/api/userapi/addDrivers",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        alert("Success");
                    },
                    failure: function (response) {
                        alert("Failure");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Error: " + errorThrown+ " , Please try again");
                    }

                })
            })
        })
    </script>


</body>
</html>
