@model DaxiTaxi.Models.User

@{
    ViewBag.Title = "GetLoggedInUser";
}

<h2>GetLoggedInUser</h2>


@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>User</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { id = "username", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { id = "name", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { id = "surname", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JMBG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JMBG, new { htmlAttributes = new { id = "JMBG", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JMBG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { id = "phoneNum", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { id = "email", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender)
            @Html.EnumDropDownListFor(model => model.Gender, new { id = "enumId" })
            @Html.ValidationMessageFor(m => m.Gender)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btnChangeProfile" value="Change Profile" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

                $.ajax({
                    type: "GET",
                    url: "https://localhost:44345/api/userapi/loggedUser",
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        alert("Success");
                        $("#username").val(response.Username);
                        $("#name").val(response.Name);
                        $("#surname").val(response.Name);
                        $("#JMBG").val(response.JMBG);
                        $("#phoneNum").val(response.PhoneNumber);
                        $("#email").val(response.Email);
                        $("#enumId").val(response.Gender);
                    },
                    failure: function (response) {
                        alert("Failure");
                    },
                    error: function(response)
                    {
                        alert("Error: " + response.Email + " , Please try again");
                    }

                })
        })

        $(document).ready(function () {
            $("#btnChangeProfile").on("click", function () {

                var username = $("#username").val();
                var JMBG = $("#JMBG").val();
                var phoneNum = $("#phoneNum").val();
                var name = $("#name").val();
                var surname = $("#surname").val();
                var email = $("#email").val();
                var gender =  $("#enumId").val();

                var data =
                {
                    
                    "Username": username,
                    "JMBG": JMBG,
                    "PhoneNumber": phoneNum,
                    "Name": name,
                    "Surname": surname,
                    "Email": email,
                    "Gender": gender,
                }

                
                $.ajax({
                    type: "PUT",
                    url: "https://localhost:44345/api/userapi/editProfile",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        alert("Success");
                    },
                    failure: function (response) {
                        alert("Failure");
                    },
                    error: function(response)
                    {
                        alert("Error: " + response.Email + " , Please try again");
                    }

                })
            })
        })
    </script>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
