@{
    Layout = null;
}
@model DaxiTaxi.Models.User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/profile.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="icon" href="data:;base64,iVBORwOKGO=" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>Profile</title>
  
</head>
<body>
    <div class="contact-form">
        <img src="../../Images/icons8-user-60.png" class="avatar">
        <h4 style=" margin: 0;padding: 0 0 20px;color: #fff;text-align: center;text-transform: uppercase;"> @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2", style = "text-align:center;margin-left:200px;-webkit-appearance: none;color:white;" })</h4>
        <table class="table table-borderless" id="purchasedTicketsTable" style="color: white;">
            <tr>
                <th style="border:0;">USERNAME</th>
                <td style="border:0;">@Html.EditorFor(model => model.Username, new { htmlAttributes = new { id = "username", @class = "form-control", style = "border:0;outline:0;border-bottom:1px solid red;margin-bottom:10xp;height:20px;color:white;" } })</td>
            </tr>
            <tr>
                <th style="border:0;">NAME</th>
                <td style="border:0;"> @Html.EditorFor(model => model.Name, new { htmlAttributes = new { id = "name", @class = "form-control", style = "border:0;outline:0;border-bottom:1px solid red;margin-bottom:10xp;height:20px;border-top-style:none;color:white;" } })</td>
            </tr>
            <tr>
                <th style="border:0;">SURNAME</th>
                <td style="border:0;"> @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { id = "surname", @class = "form-control", style = "border:0;outline:0;border-bottom:1px solid red;margin-bottom:10xp;height:20px;color:white;" } })</td>
            </tr>
            <tr>
                <th style="border:0;">JMBG</th>
                <td style="border:0;">@Html.EditorFor(model => model.JMBG, new { htmlAttributes = new { id = "JMBG", @class = "form-control", style = "border:0;outline:0;border-bottom:1px solid red;margin-bottom:10xp;height:20px;color:white;" } })</td>
            </tr>
            <tr>
                <th style="border:0;">EMAIL</th>
                <td style="border:0;"> @Html.EditorFor(model => model.Email, new { htmlAttributes = new { id = "email", @class = "form-control", style = "border:0;outline:0;border-bottom:1px solid red;margin-bottom:10xp;height:20px;background-color:transparent;color:red;color:white;" } })</td>
            </tr>
            <tr>
                <th style="border:0;">PHONE</th>
                <td style="border:0;"> @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { id = "phoneNum", @class = "form-control", style = "border:0;outline:0;border-bottom:1px solid red;margin-bottom:10xp;height:20px;color:white;" } })</td>
            </tr>
            <tr>
                <th style="border:0;">PASSWORD</th>
                <td style="border:0;"><input type="password" id="password"  /></td>
            </tr>
            <tr>
                <th style="border:0;">GENDER</th>
                <td style="border:0;"> @Html.EnumDropDownListFor(model => model.Gender, new { id = "enumId", style = "background-color:transparent;color:black;" })</td>
            </tr>
            <tr>
                <td style="border:0;"></td>
            </tr>
            <tr>
                <th style="border:0;"></th>
                <td style="border:0;"> <input type="submit" id="btnChangeProfile" value="Change Profile" class="btn btn-default" style="width:200px;border-radius:20px;color:white;background-color:red;border:none;" /></td>
            </tr>
        </table>

    </div>

    <script>
        $(document).ready(function () {

            $.ajax({
                type: "GET",
                url: "https://localhost:44345/api/userapi/loggedUser",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#username").val(response.Username);
                    $("#name").val(response.Name);
                    $("#surname").val(response.Name);
                    $("#JMBG").val(response.JMBG);
                    $("#phoneNum").val(response.PhoneNumber);
                    $("#email").val(response.Email);
                    $("#enumId").val(response.Gender);
                    $("#password").val(response.Password);
                    console.log(response.Password)
                },
                failure: function (response) {
                    console.log("Failure");
                },
                error: function (response) {
                    alert("Error")
                    window.location.href = "../Home/Main"
                    console.log("Error: " + " , Please try again");
                }

            })
        })

        $(document).ready(function () {
            $("#btnChangeProfile").on("click", function () {

                var username = $("#username").val();
                var JMBG = $("#JMBG").val();
                var phoneNum = $("#phoneNum").val();
                var name = $("#name").val();
                var surname = $("#surname").val();
                var email = $("#email").val();
                var gender = $("#enumId").val();
                var password = $("#password").val();

                var data =
                {

                    "Username": username,
                    "JMBG": JMBG,
                    "PhoneNumber": phoneNum,
                    "Name": name,
                    "Surname": surname,
                    "Email": email,
                    "Gender": gender,
                    "Password": password
                }


                $.ajax({
                    type: "PUT",
                    url: "https://localhost:44345/api/userapi/editProfile",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        alert("Success");
                    },
                    failure: function (response) {
                        alert("Failure");
                    },
                    error: function (response) {
                        alert("Error: " + response.Email + " , Please try again");
                    }

                })
            })
        })
    </script>
</body>
</html>