@{ 
    Layout = null;
}

@model DaxiTaxi.Models.Ride

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/CustomersRide.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="icon" href="data:;base64,iVBORwOKGO=" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contact-form">
        <img src="../../Images/taxi-48.png" class="avatar">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="margin-bottom:50px;">
            @Html.EditorFor(model => model.OrderDateTime, new { htmlAttributes = new { id = "date", @class = "control-label col-md-2", style = "background:transparent;border:0;text-align:center;color:white;font-size:20px;"  } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Username, htmlAttributes: new { @class = "control-label col-md-2", style = "color:white;margin-top:15px;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer.Username, new { htmlAttributes = new { id = "customer", @class = "form-control", style = "width:300px;height:30px;margin-left:50px;color:white;" } })
                @Html.ValidationMessageFor(model => model.Customer.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerLocation.Address, htmlAttributes: new { @class = "control-label col-md-2", style = "color:white;margin-top:15px;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerLocation.Address.Street, new { htmlAttributes = new { id = "currentLocation", @class = "form-control", style = "width:300px;height:30px;margin-left:50px;color:white;"} })
                @Html.ValidationMessageFor(model => model.CustomerLocation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RideState, htmlAttributes: new { @class = "control-label col-md-2", style = "color:white;margin-top:15px;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RideState, new { htmlAttributes = new { id = "state", @class = "form-control", style = "width:300px;height:30px;margin-left:50px;color:white;" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2", style = "color:white;margin-top:25px;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { id = "amount", @class = "form-control", style = "width:300px;height:30px;margin-left:50px;margin-top:15px;color:white;" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btnCancelRide" value="Cancel Ride" class="btn btn-default" style="width:200px;border-radius:20px;color:white;background-color:red;border:none;margin-top:150px;margin-left:50px;" />
            </div>
        </div>

    </div>

    <script>
        $("#btnCancelRide").attr("disabled", true);
        var id = window.location.search.slice(1).split('&')[0].split('=')[1];

        $(document).ready(function () {

            var date = $("#date")
            var currentLocation = $("#currentLocation")
            var cost = $("#amount")
            var customer = $("#customer")
            var state = $("#state")

            $.ajax({
                type: "GET",
                url: "https://localhost:44345/api/rideapi/getRide?id=" + id,
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    //bootbox.alert({
                    //     message: "This is the small alert!",
                    //     size: 'small'
                    //});
                    console.log("Success");
                    console.log(response.OrderDateTime + response)
                    date.val(response.OrderDateTime)
                    currentLocation.val(response.CustomerLocation.Address.Street + " " +
                        response.CustomerLocation.Address.StreetNumber + " " +
                        response.CustomerLocation.Address.CallNumber + " " +
                        response.CustomerLocation.Address.City )
                    cost.val(response.Amount)
                    customer.val(response.Customer.Username)
                    state.val(response.RideState)
                    if (response.RideState === 'Created') {
                        $("#btnCancelRide").attr("disabled", false);
                    }

                },
                failure: function (response) {
                    console.log("Failure");
                    console.log(response)
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Error: " + errorThrown + " , Please try again");
                }

            })
        })


        $(document).ready(function () {

            $("#btnCancelRide").on("click", function () {

                $.ajax({

                    type: "PUT",
                    url: "https://localhost:44345/api/rideapi/cancelRide?id=" + id,
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        console.log("Success");
                    },
                    failure: function (response) {
                        console.log("Failure");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Error: " + errorThrown + " , Please try again");
                    }

                })
            })
        })

    </script>
</body>
</html>